<section id="content">
  <div id="content-inner">
    <header class="shifted">
      <h1><a href="/">{{emoji}}</a></h1>
    <header>    
    <form class="shifted" method="POST" action="/">
      <p>This gallery is protected.</p>
      <input type="password" name="password" placeholder="••••••••" required>
      <button type="submit">Submit</button>
    </form>
  </div>
  <footer class="shifted">
    <p><a href="https://glitch.com/edit/#!/image-gallery">Make your own image gallery with Glitch.</a> Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>.</p>
  </footer>
</section>

